@media (max-width: 767.98px) {

    .register Form,
    .others div {
        width: 90% !important;
        margin: 0 auto;
    }
}

@media (max-width: 990.98px) {

    .register Form,
    .others div {
        width: 90% !important;
        margin: 0 auto;
    }
}