@media (max-width: 767.98px) {
    /* #contact {
        padding-top: 40px;
        padding-bottom: 40px;
    } */

    .add-item {
        width: 90% !important;
    }
}

@media (max-width: 990.98px) {
    .add-item {
        width: 90% !important;
    }
}